[Desktop Entry]
Name=Velora
Comment=Velora Linux Desktop Theme - Forest Green, iOS 26 style
X-KDE-PluginInfo-Name=velora
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Velora
X-KDE-PluginInfo-Email=velora.official.ro@gmail.com
X-KDE-PluginInfo-Website=https://github.com/velora-ro/velora-linux
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=Proprietary
